# Built library
cpt-lib

### Emacs ###
\#*\#
*~
.\#*

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

### Redo files
/.redo
/.do_built
/.do_built.dir
*.tmp
*.did
.dep*
.target*

### Texinfo ###
*.info
