# -*- mode: redo -*-
# See LICENSE for copyright information

# This loads some functions that are shared between redo files.
# shellcheck source=./lib.rc
. "${SRC_ROOT:=.}/lib.rc"

setv VERSION = 5.1.1

# Paths
setv PREFIX    = /usr/local
setv BINDIR    = "${PREFIX}/bin"
setv SHAREDIR  = "${PREFIX}/share"
setv DOCDIR    = "${SHAREDIR}/doc"
setv CPTDOC    = "${DOCDIR}/cpt"
setv INFODIR   = "${SHAREDIR}/info"
setv MANPREFIX = "${SHAREDIR}/man"
setv MAN1      = "${MANPREFIX}/man1"

# Documentation tools
setv EMACS    = emacs
setv MAKEINFO = makeinfo
